
/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #064612;
    text-align: center;
}
.main-content {
    background-color: white; /* This will be the color of the main content area */
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* This centers the content area */
    padding: 20px; /* Add some padding inside the content area */
    border-radius: 20px; /* Add rounded corners to the content area */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow to the content area */
    margin-top: 20px; /* Add some space between the content area and the navbar */ 

}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.data-card {
    border-radius: 20px;
    background-color: #dedada;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: auto; /* Adjust the width as desired */
    margin: 0 auto; /* Center the element horizontally */
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-card-picture {
    border-radius: 20px;
    background-color: #dedada;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: auto; /* Adjust the width as desired */
    margin: 0 auto; /* Center the element horizontally */
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2 {
    text-align: center;
    border: 1px solid #dedada;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}
.navbar {
    background-color: #dedada;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
button {
    background-color: blue;
    color: white;
    padding: 15px 30px; /* Increase the padding to make the button bigger */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-top: 20px;

}

